<tr>
  <td class="inspirations">
    <span class="body"><%= inspiration.body %></span>
    <p class="author">-- <%= inspiration.author %></p>
    <span class="remove-inspiration">
    	<%= link_to "delete", inspiration, :method => :delete, 
    									   :confirm => "You sure?",
               	                  		   :title => "Delete this entry" %>
    </span>
  </td>
</tr>