<tr>
  <td class="inspirations">
    <span class="content"><%= inspiration.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(inspiration.created_at) %> ago.
    </span>
  </td>
</tr>