<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Life is Good, <%= @user.name %>!</h2>
    <p>
      Inspiration -- Author.
    </p>
    <p>Have a great day!</p>
  </body>
</html>