<h1>Welcome to Pavlove</h1>
<p>Description</p>
<!--
<p>
I developed this simple app to "scratch my own itch" of wanting to be mindful all day every day. To often I find myself lost in thoughts of future or past.  I have many great book and audio that I read or listen to often, but the vast majority of the day it's just me...   I needed an almost constant reminder of the beautiful things I'd rather be focusing on in order to bring more of _that_ into my life.
</p>
-->
<br><br />

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>

