<% if signed_in? %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="inspiration">Inspired yet?</h1>
				<%= render 'shared/inspiration_form' %>
			</td>
			<td class="sidebar round">
        		<%= render 'shared/user_info' %>
      		</td>
		</tr>
	</table>
<% else %>
	<div id="app-title">Welcome to Pavlove</div>
	<div id="app-tagline">Helping you stay connected and inspired!</div>
	<div id="app-description">
		<br><br />Enter your favorite "inspirations" (quotes, sayings, prayers, mantras, etc..)
		and how often you would like them delivered to your inbox.  We'll do the rest</div>
	<br><br />

	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>

